<div class="container">
    <div class="btn-container"><app-button-with-label-icon [icon]="'rocket_launch'" [hover]="false">Rocket Robbo</app-button-with-label-icon></div>
    <div class="btn-container"><app-button-with-label-icon>Services</app-button-with-label-icon></div>
    <div class="btn-container"><app-button-with-label-icon>Category</app-button-with-label-icon></div>
    <div class="btn-container"><app-button-with-label-icon>Article</app-button-with-label-icon></div>
    <div class="btn-container"><app-button-with-label-icon>About Us</app-button-with-label-icon></div>
    <div class="btn-container"><app-button-with-label-icon>Contact</app-button-with-label-icon></div>
    <!-- <div class="btn-container"><app-button-with-label-icon>Sign In</app-button-with-label-icon></div>
    <div class="btn-container"><app-button-with-label-icon>Sign Up</app-button-with-label-icon></div> -->
</div>

